body {
	margin: 0;
	font-family: 'a스마일L', sans-serif;
}


.conA {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	min-height: 450px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), url(img/배경사진.png);
	background-image: url("../img/배경사진.png");
	/* background-position: center; */
	
	background-size: cover;
	/* border: solid 1px; */
	text-align: center;
	color: #fff;
}

.conA .compact {
	height: 500px;
	min-height: 0;
	text-align: right;
	background-image: url("../img/배경사진.png");
}

.conA.compact h1 {
	display: block;
	width: 100%;
	font-family: '210 카툰스토리', sans-serif;
	font-size: 60px;
}

.conA.compact .container {
	display: block;
	width: 60%;
}

.conA.conA.compact p {
	display: block;
	width: 87%;
	font-family: 'a스마일L';	
	font-size: 26px;
	text-align: right;
}

/* 기사 목록 A*/
.listA .container {
	display: flex;
	flex-wrap: wrap;
}

.listA article {
	flex: 1 1 300px;
	display: flex;
}

.listA a {
	margin: 10px;
	display: block;
	border: solid 1px #ddd;
	border: solid 1px var(--gray-color/#ddd);
	color: inherit;
	text-decoration: none;
}

.listA a:hover {
	opacity: 0.8;
}

.listA .photo {
	min-height: 150px;
	background-position: center;
	background-size: cover;
}

.listA .text {
	margin: 10px;
}

.listA h2 {
	font-size: 19px;
}

.listA p {
	font-size: 16px;
	opacity: 0.8;
}

/* 기사 목록 B */

.listB h1 {
	text-align: center;
}

.listB .container {
	display: flex;
	flex-wrap: wrap;
	max-width: 1000px;
	max-width: var(--large-width);
	margin: 30px 80px;

}

.listB article {
	flex: 1 1 250px;
	display: flex;
	border: solid 1px #fff;
}

.listB a {
	position: relative;
	flex: 1;
	margin: 20px;
	display: auto;
	border: solid 1px #ddd;
	border: solid 1px var(--gray-color/#ddd);
	background-color: currentColor;
	color: inherit;
	text-decoration: none;

}

.listB a:hover {
	opacity: 0.75;
}

.listB .photo {
	min-height: 200px;
	background-position: center;
	background-size: cover;
	opacity: 0.95;
}

.listB .text {
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 15px;
	text-shadow: 2px 2px 3px rgb(34, 34, 34);
	font-family: 'a스마일L',sans-serif;
	color: #fff;
	/* color: var(--text-bright-color); */
}

.listB h2 {
	margin: 0;
	font-size: 19px;
}

.listB p {
	margin: 0;
	font-size: 16px;
	opacity: 1;
}

@media (max-width: 384px) {
	.listB .photo {
		flex: 1;
	}

	.listB p {
		display: none;
	}
}

/* 재구성: 헤더 색 */
.head-color {
	background-color: #b0c4de;
	background-color: var(--main-color/#b0c4de);
	color: rgb(255, 255, 255);
	color: var(--text-bright-color/rgb(255, 255, 255));
}

.head-color .headA {
	background-color: transparent;
	color: inherit;
}

.head-color .headC {
	color: inherit;
}


/* 재구성: 헤더를 화면 위에 고정하기 */
/*.head-fixed,
.nohere .head-fixed {
	position: fixed;
}

.nohere .head-fixed + * {
	margin-top: 70px;
}*/

/* 헤더 */
header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.9);
}

.nohero header {
	position: static;
	border-bottom: solid 1.5px #ddd;
	border-bottom: solid 1.5px var(--gray-color/#ddd);
}

/* 헤더A: 지수의 최신 IT 트렌드 가이드 */
.headA {
	display: inline-block;
	line-height: 70px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #b0c4de;
	background-color: var(--main-color/#b0c4de);
	/* background-color: rgb(68, 68, 68); */
	color: rgb(68, 68, 68);
	color: var(--text-bright-color/#fff);
	font-family: 'a가을운동회B', sans-serif;
	font-size: 22px;
	text-decoration: none;
}

/* 헤더B: 내비게이션 메뉴 */
.headB ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.headB a {
	display: block;
	padding: 15px;
	color: rgb(68, 68, 68);
	font-family: 'a가을운동회B',sans-serif;
	font-size: 15px;
	text-decoration: none;
}

.headB a:hover {
	background-color: rgb(190, 190, 190);
}

@media (min-width: 768px) {
	header .container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 1500px;
		min-width: var(--large-width);
		margin-left: auto;
		margin-right: auto;
	}

	.headB ul {
		display: flex;
	}
}

/* 헤더C: 토글 버튼 */

@media (max-width: 767px) {
	/*작은 화면 전용 설정*/
	header .container-small {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.headC {
		margin-right: 10px;
		padding: 0;
		border: none;
		outline: none;
		background: none;
		font-size: 24px;
		opacity: 0.5;
		cursor: pointer;
	}

	.headC:hover {
		opacity: 0.3;
	}

	.headB {
		display: none;
	}

}

@media (min-width: 768px) {
	/* 큰 화면 전용 설정 */
	.headC {
		display: none;
	}

	.headB {
		display: block !important;
	}
}

/* 기본 */
:root {
	--main-color: #7e0606be;
	--accent-color: #BF6A7A;
	--dark-main-color: #2B5566;
	--text-bright-color: #fff;
	--icon-color: #fff;
	--icon-bk-color: #ddd;
	--gray-color: #ddd;
	--large-width: 1000px;
	--middle-width: 800px;
}

/* 기본 설정: 폰트 크기 */
@media (max-width:599px) {
	:root {
		font-size: 14px;
	}
}

@media (max-width:600px) and (max-width:799px) {
	:root {
		font-size: 16px;
	}
}

@media (max-width:800px) {
	:root {
		font-size: 18px;
	}
}

body {font-size: 16px;}

/*  페이지: 기사 */
.post .container {
	height: 100%;
	max-width: 800px;
	max-width: var(--middle-width);
	margin-left: auto;
	margin-right: auto;
	padding: 10px 30px;
}

.post h1{
	padding-left: 0.5rem;
	border-left: solid 0.75rem #BF6A7A;
	border-left: solid 0.75rem var(--accent-color);
	font-size: 2rem;	
}

.post p{
	font-size: 1rem;
	line-height: 1;
}

.post img {
	max-width: 100%;
}

/* 소개 페이지: 이미지와 연혁 */
.history {
	background-color: #5D9AB2;
	background-color: var(--main-color);
	color: #fff;
	color: var(--text-bright-color);
}

.history .text {
	padding: 20px;
}

.history h2 {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 1.5rem;
}

.history .photo {
	min-height: 300px;
	background-image: url("../img/장미2.webp");
	background-position: center;
	background-size: cover;
}

.history table {
	border-collapse: collapse;
	border-top: solid 1px #ddd;
	border-top: solid 1px var(--gray-color);
	font-size: 0.875rem;
}

.history th,
.history td {
	padding-top: 1.8rem;
	padding-bottom: 1.8rem;
	border-bottom: solid 1px #ddd;
	border-bottom: solid 1px var(--gray-color);
}

.history th {
	padding-right: 1rem;
	text-align: left;
	word-break: keep-all;
}

@media (min-width: 768px) {
	.history .container {
		display: flex;
		max-width: 1000px;
		max-width: var(--large-width);
		margin-left: auto;
		margin-right: auto;
	}

	.history .photo {
		flex: 3;
	}

	.history .text {
		flex: 2;
		padding: 50px;
	}
}

/* 콘텐츠 페이지: 빵 부스러기 리스트 */
.bread ol {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.bread a {
display: block;
padding: 5px;
color: inherit;
font-size: 0.875rem;
text-decoration: none;
}

.bread a::after {
	margin-left: 10px;
	content: '\f054';
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	opacity: 0.3;
}

.bread a:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

/* 문의 페이지: 문의 대상 */
.contact {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	border: solid 1px #ddd;
	border: solid 1px var(--gray-color);
	text-align: center;
}

.contact span  {
	display: inline-block;
	margin-bottom: 25px;
	font-size: 2.2rem;
	width: 1.8em;
	border-radius: 50%;
	text-align: center;
	background-color: #5D9AB2;
	background-color: var(--main-color/#5D9AB2);
	color: #fff;
	color: var(--icon-color/#fff)	
}

.contact h2 {
	margin-top: 0;
	font-size: 1.3rem;
}

.contact a {
	font-size: 1.5rem;
	color: inherit;
	text-decoration: none;
}

@media (min-width: 768px) {
	.contact-wrap {
		display: flex;
	}

	.contact {
		flex: 1;
	}

	.contact:first-child {
		margin-right: 20px;
	}
}

/* 문의 페이지: 지도 */
.location iframe {
	width: 100%;
	height: 400px;
	vertical-align: bottom;
}

.location h2 {
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #5D9AB2;
	background-color: var(--main-color);
	color: #fff;
	color: var(--text-bright-color);
	font-size: 1.5rem;
	text-align: center;
}

/* /* .conA div  */
	/* border: solid 1px #ff33aa; */
/* 

/* 푸터 */
footer {
	color: #fff;
	color: var(--text-bright-color/#fff);
	background-color: #46505C;
	background-color: var(--dark-main-color/#2B5566);
}

footer .container {
	padding: 30px 20px;
}

@media (min-width: 768px) {
	footer .container {
		display: flex;
		flex-wrap: wrap;
		max-width: 1200px;
		max-width: var(--large-width/1200px);
		margin-left: auto;
		margin-right: auto;
	}

	.footA {
		font-family: 'a스마일L',sans-serif;
		flex: 0 0 40%;
	}

	.footB {
		font-family: 'a스마일L',sans-serif;
		flex: 0 0 60%;
	}

	.footC {
		flex: 0 0 100%;
	}
}

/* 푸터A: 사이트 정보 */
.footA {
	margin-bottom: 30px;
}

.footA h2 {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 35px;
	letter-spacing: 0.1em;
	/*font-family: '맑은 고딕', sans-serif*/
}

.footA p {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
	/*font-family: '맑은 고딕', sans-serif*/
}

/* 푸터B: 푸터 메뉴 */
.footB div {
	margin-bottom: 20px;
}

.footB h3 {
	margin-top: 0;
	margin-bottom: 10px;
	border-bottom: solid 1px currentColor;
	font-size: 20px;
}

.footB ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.footB a {
display: block;
padding: 5px;
color: inherit;
font-size: 16px;
text-decoration: none;
}

.footB a:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
	.footB {
		display: flex; 
}

	.footB div {
		flex: 1;
	}

	.footB div:not(:first-child) {
		margin-left: 40px;
	}
	}

	/* 푸터C: 저작권*/
	.footC {
		font-size: 12px;
		text-align: center;
		font-family: '맑은 고딕', sans-serif
	}

	/* 푸터D: SNS 메뉴*/
	.footD {
		margin-top: 20px;
	}

	.footD ul {
		display: flex;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.footD a {
		display: block;
		margin-right: 8px;
		padding: 0;
		color: inherit;
		font-size: 16px;
		text-decoration: none;
		border: solid 1px currentColor;
		width: 2em;
		line-height: 2em;
		border-radius: 50%;
		text-align: center;
	}

	.footD a:hover {
		background-color: rgba(0, 0, 0, 0.3);
	}


.conA h1 {
	margin-top: 0;
	margin-bottom: 10px;
	/* font-family: '맑은 고딕', sans-serif; */
	/* font-family: '휴먼매직체', sans-serif; */
	font-size: 10vw;
}

.conA p {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 32px;

}

/* hello page */
.flex-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.hello-footer {
	flex-grow: 1;
}
